* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Helvetica, Arial, sans-serif;
  }

  /*HEADER STYLING BEGINS*/

header {
  background: #dbdada;
  font-size: 2rem;
  display: flex;
  justify-content: space-between ;
  padding: 100px;
  font-weight: bolder;
  font-family: 'Lora', serif;
}


  header h1 {
    font-size: 75px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
  }
  
  header a {
    text-decoration: none;
    color: #000000;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

/*HEADER STYLE ENDS*/

/* HERO STYLE BEGINS */

.heroImage {
  height: 300px;
  width: ;

}

/*ABOUT ME*/

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}


/* FOOTER STYLE BEGINS */

footer {
  background: #dbdada;
  width: 100%;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* FOOTER STYLE ENDS*/


/* HERO SECTION */

.work-preview {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* MEDIA QUERY FOR LARGER SCREENS */
/* @media screen and (min-width: 980px) {
    
    header h1 {
      font-size: 50px;
    }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
  } */

  @media screen and (max-width: 900px) {

  #about-me {
    flex-direction: column;
  }

  h2 {
    font-size: 10px;
    color: green;
  }

  }

