* {
    margin: 0;
    padding: 0;
  }

body {
  width: 100%;
  height: auto;
  text-decoration: none;
}
  
/*HEADER STYLING BEGINS*/

header {
  background: #ffffff;
  display: flex;
  justify-content: space-between ;
  padding: 5px;
  font-weight: bolder;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}


  header h1 {
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
  }
  
  header a {
    color: black;
  }

  header a:hover {
    text-decoration: none;
    color: rgb(77, 75, 75);
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  li:hover {
      background-color: rgba(191, 235, 146, 0.507);
  }

  li a:hover {
    text-decoration: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

/*HEADER STYLE ENDS*/

/* HERO STYLE BEGINS */

.hero {
  height: 500px;
  width: 100%;
  background-color:rgb(231, 91, 91);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  padding-right: 500px;
  color: #ffffff; 
  }

/* HERO STYLE ENDS */

/*ABOUT ME*/

#about-me h2, #about-me p {
  padding: 30px 5px 5px 5px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/* My Work */

#my-work h2 {
  padding: 30px 5px 5px 5px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
}

 .container img{
  height: 300px;
  width: 600px;
  box-sizing: border-box;
  border: rgb(90, 90, 90);
  border-radius: 5px;
  /* align-items: left; */
  opacity: 0.5;
}

.container img:hover { 
  height: 300px;
  width: 600px;
  border: rgb(90, 90, 90);
  border-radius: 5px;
  opacity: 1;
}
 
/* .container h5 {
  text-decoration: none;
  justify-content: right;
  position: absolute; 
  top: 1060px; 
  left: 500px; 
}

.container p{
  text-decoration: none;
  color: #000000;
  justify-content: right;
  position: absolute; 
  top: 1085px; 
  left: 475px; 
} */

/* #2 Assignment */

.container2 {
  display: flex;
  justify-content: flex-start;
}

 .container2 img{
  padding-top: 50px;
  height: 225px;
  width: 400px;
  box-sizing: border-box;
  border: rgb(90, 90, 90);
  border-radius: 5px;
  opacity: 0.5;
}

.container2 img:hover { 
  padding-top: 50px;
  height: 225px;
  width: 400px;
  border: rgb(90, 90, 90);
  border-radius: 5px;
  opacity: 1;
}

/* RESUME STYLE STARTS*/

#resume {
  padding: 30px 5px 5px 5px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.resume {
  height: 600px;
  width: 900px;
}

/* CONTACT ME STYLE STARTS */

#contact-me {
  padding: 30px 5px 5px 5px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.contactInfo {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 50px;
  height: 50px;
}




/* FOOTER STYLE BEGINS */

footer {
  background: #dbdada;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* FOOTER STYLE ENDS*/


/* HERO SECTION */

/* .work-preview {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
} */

/* MEDIA QUERY FOR LARGER SCREENS */
/* @media screen and (min-width: 980px) {
    
    header h1 {
      font-size: 50px;
    }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
  } */

  /* @media screen and (max-width: 900px) {

  #about-me {
    flex-direction: column;
  }

  h2 {
    font-size: 10px;
    color: green;
  }

  } */

